[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
streamlit = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "*"
awesome-streamlit = "*"
missingno = "*"
pexpect = "*"

[requires]
python_version = "3.7"
